@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 3px;
  display: flex;
  align-items: center;
  
}

.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.navbar .nav-item {
  margin-right: 20px;
}

.header-title {
  position:absolute;
  margin-left:50vw;
  font-size: x-large;
  font-family: 'Roboto';

}

.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.nav-item:hover {
  text-decoration: underline;
}


.search-container {
  margin-bottom: 20px;
  
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; 
  font-size: 14px;
}

.search-container input:focus {
  outline: none;
  border-color: #007bff;
}


.user-table {
  width: 80%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table tbody tr:hover {
  background-color: #f9f9f9;
}

.user-table button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-table button:hover {
  background-color: #0056b3;
}

.user-table .view-icon {
  color: #007bff;
  cursor: pointer;
}

.action-button {
  margin-right: 5px;
}

.container h1 {
  
}

/* UserProfile.css */

.action-link,
.action-button {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-link:hover,
.action-button:hover {
  background-color: #0056b3;
}


.action-button {
  display: inline-block;
  width: 36px; /* Ajuste o valor conforme necessário */
  height: 39px; /* Ajuste o valor conforme necessário */
  font-size: 16px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 30px; /* Ajuste o valor conforme necessário */
  text-decoration: none;
}

.action-button:hover {
  background-color: #0056b3;
}

/* Estilos específicos para o ícone */
.action-button i {
  /* Estilos do ícone */
}

.action-link, .action-button {
  margin-left: 5px;
}